
*.ncrunchproject
*.obj
*.pdb
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh

*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tmp

[Dd]ebug*/

[Bb]in
*/bin/*



*/obj/*
[Rr]elease*/
_ReSharper*/
_ReSharper*
_ReSharper.voda/
_ReSharper.XLN
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.ReSharper
*DotSettings.user
packages/


#ignore    StyleCope cache
#StyleCop.Cache
[Ss]tyle[Cc]op.[Cc]ache

#ignore merc merge temp files
*.orig

# ignore temp directories
[Tt]emp/
[Tt]mp/

#winword temp files
~$*.docx






*.psd
*.tif

\obj*
*\App_Data\*
ContosoUniversity/App_Data/CU10_log.ldf
ContosoUniversity/App_Data/CU10.mdf
*/App_Data/*
WebAPI/Images/Books/*
